.state {
  fill: #f8f7f3;
}

g.state > .licensed,
circle.dc.licensed {
  fill: #c89a3d !important;
}

.borders {
  stroke: #0a2852;
  stroke-width: 1;
}

.separator1 {
  stroke: #e8d2a2;
  stroke-width: 2;
}

.separator2 {
  stroke: #e8d2a2;
  stroke-width: 1;
}